---
version: "3.7"

services:

  discuss-forum-db:
    container_name: discuss-forum-db
    image: postgres:12.3-alpine
    restart: unless-stopped
    hostname: discuss-forum-db
    environment:
      - POSTGRES_USER=postgres
      - POSTGRES_PASSWORD=postgres
      - POSTGRES_DB=postgres
    volumes:
      # Persist data that is stored in db after
      # container is shutdown.
      - discuss-forum-db_data:/var/lib/postgresql/data/
    # networks:
    #   - discuss-forum-net
    ports:
      - "5432:5432"
  
  # discuss-forum-api:
  #   hostname: discuss-forum-api
  #   build:
  #     context: .
  #     dockerfile: Dockerfile
  #   environment:
  #     # - JWT_SECRET_KEY=jta99001
  #     - POSTGRES_DB_HOST=discuss-forum-db
  #   depends_on:
  #     - discuss-forum-db
  #   # https://docs.docker.com/config/containers/start-containers-automatically/#use-a-restart-policy
  #   restart: unless-stopped
  #   networks:
  #     - discuss-forum-net
  #   ports:
  #     - "8000:8000"
    

  # nginx-performer:
  #   container_name: nginx-performer
  #   image: nginx:1.25.3-alpine
  #   restart: always
  #   volumes:
  #     - ./nginx/nginx.conf:/etc/nginx/nginx.conf
  #   networks:
  #     - discuss-forum-net
  #   ports:
  #     - "80:80"
  #   depends_on:
  #     - discuss-forum-db
  #     - discuss-forum-api


volumes:
  discuss-forum-db_data:

# networks:
#   discuss-forum-net:


# clean up
# docker-compose down -v --remove-orphans; docker-compose -f  docker-compose-offline.yml down -v --remove-orphans;